<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="login-container">
    <!-- Aquí está tu formulario de login -->
    <img src="assets/img/combustible.png" class="side-image right-image" />
    <form #loginForm="ngForm" (ngSubmit)="ingresar()" class="login-form">
      <!-- Campos del formulario -->
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
      <br />

      <a class="crear" (click)="registrar()"><strong>Crear cuenta</strong></a>
      <a class="restablecer" routerLink="/recuperarcon">
        <strong>¿Olvidaste tu contraseña?</strong>
      </a>

      <ion-button id="modal-trigger" class="info">Información APP</ion-button>
    </form>

    <!-- Contenedor del mapa -->
    <div id="map" style="width: 100%; height: 300px;"></div>
  </div>
</ion-content>
